In [149]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [150]:
df_articles = pd.read_csv('sävsjö_articles.csv')
df_articles.head()
#df_articles.info()
df_articles = df_articles.dropna()
df_articles.head()

,ID,Title,Text
0,2,Aktiespararna säger ja till Gunvorbudet<span> ...,Aktiespararna rekommenderar sina medlemmar att...
2,7,Man fast i en timme i grop<span> - kuriren.nu<...,En man i 60-årsåldern föll ner i en grop som v...
3,8,Mannen fastnade i en grop  i flera timmar<spa...,En man i 60-årsåldern trillade ner i ett grävt...
4,56,En motorcykel,Här är den längre versionen.
5,66,Stulna braskaminer för 50 000 ska värma,Det börjar bli vinter och kallt. Då är det skö...

In [151]:
for col in df_articles.columns[1:]:
    df_articles[col] = df_articles[col].astype(str)
    df_articles[col] = df_articles[col].apply(lambda x: BeautifulSoup(x, 'lxml').get_text())

c:\Users\strep\miniconda3\envs\nlp\lib\site-packages\bs4\__init__.py:435: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(

In [152]:
df_articles.head()

,ID,Title,Text
0,2,Aktiespararna säger ja till Gunvorbudet - di.se,Aktiespararna rekommenderar sina medlemmar att...
2,7,Man fast i en timme i grop - kuriren.nu,En man i 60-årsåldern föll ner i en grop som v...
3,8,Mannen fastnade i en grop  i flera timmar - e...,En man i 60-årsåldern trillade ner i ett grävt...
4,56,En motorcykel,Här är den längre versionen.
5,66,Stulna braskaminer för 50 000 ska värma,Det börjar bli vinter och kallt. Då är det skö...

In [175]:
#from spacy.pipeline.ner import EntityRecognizer
import spacy

nlp = spacy.load("sv_core_news_sm")

for index, row in df_articles.iterrows():
    doc_text = nlp(row['Text'])
    doc_title = nlp(row['Title'])

    doc_ents = doc_text.ents + doc_title.ents
    entities = [str(x) for x in doc_ents]
    labels = [str(labels.label_) for labels in doc_ents]
    
    # If program crashes here, uncomment the two lines below
    #df_articles.at[index,'Entities'] = '0'
    #df_articles.at[index,'Labels'] = '0'

    df_articles.at[index,'Entities'] = entities
    df_articles.at[index,'Labels'] = labels

df_articles

labels: ['PRS', 'ORG', 'ORG']

,ID,Title,Text,Entities,Labels
0,2,Aktiespararna säger ja till Gunvorbudet - di.se,Aktiespararna rekommenderar sina medlemmar att...,"[Gunvor Group, Rörvik, Gunvorbudet]","[PRS, ORG, ORG]"
2,7,Man fast i en timme i grop - kuriren.nu,En man i 60-årsåldern föll ner i en grop som v...,NaN,NaN
3,8,Mannen fastnade i en grop  i flera timmar - e...,En man i 60-årsåldern trillade ner i ett grävt...,NaN,NaN
4,56,En motorcykel,Här är den längre versionen.,NaN,NaN
5,66,Stulna braskaminer för 50 000 ska värma,Det börjar bli vinter och kallt. Då är det skö...,NaN,NaN
...,...,...,...,...,...
8600,255432,Bringetofta marknad 2022,ewry,NaN,NaN
8601,255465,BILDEXTRA: Det vandrande skådespelet i Komstad...,I en ljuset av en glödorange sol som sänkte si...,NaN,NaN
8602,255482,Folkdans vid äldreboenden på fredag,Folkdansarna från Sunne kommer till Hagfors im...,NaN,NaN
8603,255580,Företagen - en viktig motor i kommunens maskineri,"▪️ Denna text är en insändare, och åsikterna i...",NaN,NaN
8604,255592,"Centerpartiet kampanjade för tågresenärer: ""Ka...",I soluppgången och den krispiga morgondimman s...,NaN,NaN

In [159]:
len(df_articles['Entities'])
#len(df_articles['Title'])

8603